<%= form_with(model: @post, local: true) do |f| %> 
  <%= render 'shared/error_messages', object: f.object %>
  <% if @photo %>
    <div class="field">
      <%= f.hidden_field :image, value: @photo.cached_image_data %>
    </div>
  <% end %>
  <span class="image">
    <%= f.file_field :image %>
  </span>
  <div class="field">
    <%= f.text_area :description, placeholder: "Add description here..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>