<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user.id == post.user_id %>
      <%= link_to "❌", post, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
  </span>
  <span class="image"><%= image_tag post.image_url if post.image_url%></span>
  <span class="description"><%= post.description %></span>
  <div class="like_area">
    <% like = post.likes.where(user_id: current_user) %>
    <% if like.exists? %>
      <%= button_to "❤️ #{post.likes.count}", post_like_path(post, like), method: :delete, class: "like_button unlike_button btn" %>
    <% else %>
      <%= button_to "❤️ #{post.likes.count}", post_likes_path(post), method: :post, class: "like_button btn" %>
    <% end %>
  </div>
  <% if post.comments.any? %>
    <ol class="comments">
      <%= render post.comments %>
    </ol>
  <% end %>
  <section class="comment_form">
    <%= render 'comments/comment_form', post: post %>
  </section>
</li>

